 {% extends "base.html" %}
 {% load static %}
 {% block expense_delete %}
<nav>
    <ul>
        <li class="img"><img src="{% static '/images/dollar.png' %}"></li>
        <li><a href="/">Expenses Tracker</a></li>
        
        <li class="right"><a href="/profile">Profile</a></li>
        
    </ul>
</nav>

     <div class="body">
        
        <h1>Delete Expense</h1>
        <div class="form">
            <form method="POST" {% url 'delete expense' expense.id %}>
                {{ form }}
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </div>

    </div>

 {% endblock  %}