 {% extends "base.html" %}
 {% load static %}
 {% block expense_edit %}
<nav>
    <ul>
        <li class="img"><img src={% static '/images/dollar.png' %}></li>
        <li><a href="/">Expenses Tracker</a></li>
        <li class="right"><a href="/profile">Profile</a></li>
        
    </ul>
</nav>

     <div class="body">
        
        <h1>Edit Expense</h1>
        <div class="form">
            <form method="POST" action="{% url 'edit expense' expense.id %}" >
                {{ form }}
                {% csrf_token %}

                <input type="submit" value="Edit">
             </form>
        </div>

    </div>

 {% endblock %}