 {% extends "base.html" %}
 {% load static %}
 {% block home_no_profile %}

<nav>
    <ul>
        <li class="img"><img src="{% static '/images/dollar.png' %}"></li>
        <li><a href="/">Expenses Tracker</a></li>
        
    </ul>
</nav>
    <div class="body">
        
<h1>Enter your data</h1>
<div class="form">
    <form method="POST" action="{% url 'profile create'%}">
        {{form.budget.label}} 
        {{form.budget}}
        {{form.first_name.label}} 
        {{form.first_name}}
        {{form.last_name.label}} 
        {{form.last_name}} 
        {% csrf_token %}

        <input type="submit" value="Submit">
    </form>
</div>

    </div>
{% endblock %}