 {% extends "base.html" %}
 {% load static %}
 {% block home_no_profile %}
<nav>
    <ul>
        <li class="img"><img src="{% static '/images/dollar.png' %}"></li>
        <li><a href="/">Expenses Tracker</a></li>
        
        <li class="right"><a href="/profile">Profile</a></li>
        
    </ul>
</nav>
    <div class="body">
        

<div>
    <h1>Summary</h1><h1>
    <ul class="expenses-list">
    <li class="blue">1500$</li>
    
        <li class="red"> - 1000.0$</li>
    
        <li class="red"> - 400.0$</li>
    
    <li class="green">= 100.0$ left</li>
    </ul>
</h1></div>

<h1>My Expenses</h1>
<a href="/create">Add Expense</a>
<div class="expenses-container">
    
        <div class="expense-container">
    <h2>Electrical Piano</h2>
    <hr>
    <img src="https://www.pngkit.com/png/full/307-3075914_free-piano-clipart-piano-png.png">
    <p>I bought myself a new piano to improve my skills</p>
    <div class="expense-detail">
        <div>
            <p>Price: 1000.0$</p>
        </div>
        <div class="right">
            <a class="button edit" href="/edit/3">Edit</a>
            <a class="button delete" href="/delete/3">Delete</a>
        </div>
    </div>
</div>
    
        <div class="expense-container">
    <h2>TV</h2>
    <hr>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxrJL-MNt-t3inmyQJKzgBZLEM5v1Y35QGXQ&usqp=CAU">
    <p>My old tv broke, so I bought myself a new one.</p>
    <div class="expense-detail">
        <div>
            <p>Price: 400.0$</p>
        </div>
        <div class="right">
            <a class="button edit" href="/edit/4">Edit</a>
           <a class="button delete" href="/delete/4">Delete</a>
        </div>
    </div>
</div>
    
</div>

    </div>

 {% endblock  %}