 {% extends "base.html" %}
 {% load static %}
 {% block profile_edit %}
<nav>
    <ul>
        <li class="img"><img src="{% static '/images/dollar.png' %}"></li>
        <li><a href="/">Expenses Tracker</a></li>
        
        <li class="right"><a href="/profile">Profile</a></li>
        
    </ul>
</nav>
    <div class="body">
        
<h1>Enter your new data</h1>
<div class="form">
    <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="M6BlBJtidtTAjIVkeKKrO0pzGsJVBeMuJUjjBOd11b8tiULJ0qeyFSClYJH4npVf">
        <label for="budget">Budget</label>
        <input type="number" name="budget" value="1500" required="" id="id_budget">

        <label for="firstName">First Name</label>
        <input type="text" name="first_name" value="Tanya" maxlength="15" required="" id="id_first_name">

        <label for="lastName">Last Name</label>
        <input type="text" name="last_name" value="Staneva" maxlength="15" required="" id="id_last_name">

        <input type="submit" value="Edit">
    </form>
</div>

    </div>
 
 {% endblock  %}