{% extends "base.html" %}
{% load static %}
{% block profile_delete %}

    <nav>
        <ul>
            <li class="img"><img src="{% static '/images/dollar.png' %}"></li>
            <li><a href="/">Expenses Tracker</a></li>

            <li class="right"><a href="/profile">Profile</a></li>

        </ul>
    </nav>
    <div class="body">

        <h1>Are you sure you want to delete your profile?</h1>
        <form method="POST" {% url 'profile delete'  %}>


                {{ form }}
                {% csrf_token %}


                <button class="delete">Confirm</button>
        </form>

    </div>

{% endblock %}